:root {
    --color-purple: rgb(141, 83, 254);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.googleReg {
    background: white;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.googleReg:hover {
    transform: scale(0.95);
}

.googleReg svg {
    width: 10%;
    height: auto;
}

.googleReg {
    color: black;
    font-size: 14px;
}

.container button {
    padding: 15px;
    background: var(--color-purple);
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    border: 1px solid var(--color-purple);
    cursor: pointer;
    transition: 0.4s;
}

.container button:hover {
    background: white;
    color: var(--color-purple);
}

.container form {
    border: 1px solid var(--color-purple);
    border-radius: 4px;
    background: var(--color-purple);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 30%;
    max-width: 30%;
}

.container form img {
    min-width: 30%;
    max-width: 30%;
}

.container form input {
    border: 3px solid var(--color-purple);
    padding: 10px;
    border-radius: 4px;
    background: white;
    color: var(--color-purple);
    min-width: 90%;
    outline: none;
    max-width: 90%;
    font-size: 14px;
    font-weight: 400;
    transition: 0.4s;
}

input {
    border: 3px solid var(--color-purple);
    padding: 10px;
    border-radius: 4px;
    background: white;
    color: var(--color-purple);
    min-width: 90%;
    outline: none;
    max-width: 90%;
    font-size: 14px;
    font-weight: 400;
    transition: 0.4s;
}

.container form .submit-form {
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    color: rgb(127, 1, 1) !important;
    font-size: 16px;
    font-weight: 200;
    min-width: 90%;
    max-width: 90%;
    max-height: 10px !important;
    margin-bottom: 10px !important;
    text-align: center;
}

.container form .submit-form input {
    background: white;
    color: var(--color-purple);
    border: 1px solid var(--color-purple);
    padding: 10px;
    min-width: 40% !important;
    cursor: pointer;
    transition: 0.4s;
}

.container form .submit-form input:hover {
    border: 1px solid white;
    background: var(--color-purple);
    color: white;
}

.container form input:focus {
    border: 3px solid lightgreen;
}

.title {
    font-size: 40px;
    color: white;
    margin-bottom: 32px;
}

@media screen and (max-width: 1250px) {
    .container form {
        border: 1px solid var(--color-purple);
        border-radius: 4px;
        background: var(--color-purple);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        min-width: 90%;
        max-width: 90%;
    }
}