:root {
    --bg: #1F1F1F;
    --sec-col: #15B9B9;
    --gray: #5A6C6C;
    --more-gray: #3F3F3F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background: var(--bg);
    color: white;
}

.page {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    font-size: 32px;
}

.upper-part {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background: var(--more-gray);
}

.navbar ul {
    display: flex;
    gap: 50px;
}

.navbar ul li {
    list-style: none;
    font-size: 20px;
    color: #adadad;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.navbar ul li.active {
    color: white;
}

.firma {
    padding: 20px;
}

.firma span {
    font-size: 20px;
    font-style: oblique;
}

.primaParte {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left-column {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.title {
    font-size: 70px;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 100vh;
}

.palla {
    position: relative;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background: var(--gray);
    padding: 20px;
    box-shadow: 1px 2px 1px 2px var(--more-gray);
    transition: 1s;
}

.taglio {
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    transform: rotate(-245deg);
    transition: 1s;
    bottom: 50%;
    right: 0;
}

.palla:hover .taglio {
    transform: rotate(0deg);
}

.palla:hover {
    transform: rotateZ(30deg);
    box-shadow: 2px 8px 2px 8px var(--more-gray);
}