:root {
    --color-purple: rgb(141, 83, 254);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-purple);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar ul .mini-menu {
    display: flex;
    margin-right: 32px;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    margin: 5px;
}

.navbar ul li:hover {
    color: var(--color-purple);
}

.navbar ul li img {
    max-width: 100px;
    margin-left: 32px;
    cursor: default;
}

.first-part {
    margin-top: 132px;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.column-left img {
    padding: 20px;
    border-bottom: 1px solid var(--color-purple);
    border-bottom-right-radius: 50%;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.column-right h1 {
    font-size: 70px;
}

.second-part {
    margin-top: 32px;
    width: 100%;
    padding: 20px;
}

.second-part h1 {
    font-size: 32px;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
}

.services {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.start {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    height: 100%;
    width: calc(100% / 4.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    color: var(--color-purple);
}

.end {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    height: 100%;
    width: calc(100% / 4.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    color: var(--color-purple);
}

.first-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.second-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-purple);
    width: calc(100% / 4.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;
}

.service:hover {
    background: var(--color-purple);
}

.service:hover svg {
    width: 80%;
}

.service:hover .text {
    opacity: 100%;
    background: white;
    opacity: 70%;
    width: 70%;
    border-radius: 4px;
    min-height: 60%;
    color: black;
    padding: 10px;
}

.service:hover .text p {
    color: black;
}

.service:focus {
    background: var(--color-purple);
}

.service:focus svg {
    opacity: 0%;
}

.service:focus .text {
    opacity: 100%;
}

.service .text {
    position: absolute;
    top: 20%;
    opacity: 0%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.service .text p {
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
    color: white;
}

.service .icon {
    width: 80%;
}

.mobile-menu {
    display: none;
}

.third-part {
    margin-top: 32px;
    margin-bottom: 32px;
}

.third-part h1 {
    width: 100%;
    text-align: center;
    color: var(--color-purple);
}

.aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme p {
    max-width: 50%;
    text-align: center;
    margin-top: 10px;
    font-weight: 200;
}

.fourth-part {
    background: var(--color-purple);
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.fourth-part h1 {
    width: 100%;
    text-align: center;
}

.contact {
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 1250px) {
    .service {
        position: relative;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid var(--color-purple);
        width: calc(100% / 4.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.4s;
    }
    
    .service svg {
        width: 100%;
    }
    
    .service .text {
        position: relative;
        top: 0;
        opacity: 100%;
        color: var(--color-purple) !important;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    
    .service .text p {
        font-size: 14px;
        font-weight: 200;
        margin-top: 10px;
        color: black;
    }

    .header {
        background: none;
        position: relative;
    }

    .first-part {
        margin-top: 0px;
    }

    .service:hover {
        padding: 20px;
    }

    .text {
        font-size: 40px !important;
    }

    .text p {
        font-size: 20px !important;
    }

    .aboutme p {
        min-width: 70%;
    }

    .service {
        min-width: 100%;
    }

    .mobile-menu {
        position: fixed;
        right: 0px;
        z-index: 100;
        display: block;
        margin-right: 32px;
        appearance: none;
    }

    summary {
        list-style: none; 
        cursor: pointer; 
        display: inline;  
    }   

    summary::marker {
        display: none;
        list-style: none;
    }

    details::marker {
        list-style: none;
        display: none;
    }
    
    summary svg {
        display: flex;
        width: 32px;
    }

    .mobile-m {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        padding: 10px;
        background: var(--color-purple);
        min-width: 200px;
        color: white;
    }

    .mobile-m li {
        padding: 10px;
        border-bottom: 1px solid white;
        color: white;
        width: 180px !important;
        text-align: center;
    }

    .mobile-m li:hover {
        background: white;
        color: var(--color-purple);
        min-width: 80%;
        text-align: center;
    }

    .mini-menu li{
        display: none;
    }

    .column-left {
        padding: 40px;
        min-width: 100%;
    }

    .column-left img {
        max-width: 100%;
    }

    .column-right {
        display: none;
    }

    .start {
        display: none;
    }

    .end {
        display: none;
    }
}